<div class="container">
  <div class="title">
    <%= @bar.name %>
  </div>
  <div class="show-details">
    <h3>Address: <%= @bar.address %></h3>
    <h3>Rating: <%= @bar.rating %></h3>
    <h3>Notes: <%= @bar.description %></h3>
  </div>
</div>
