<div class="container">
  <div class="home_page_cards">
    <div class="home_page_card banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);" >
      <h1><%= link_to 'Restaurants', restaurants_path %></h1>
    </div>
    <div class="home_page_card banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1486428263684-28ec9e4f2584?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);" >
      <h1><%= link_to 'Bars', bars_path %></h1>
    </div>
  </div>
</div>
