<%#= @restaurant.name %>
<%#= @restaurant.address %>
<%#= @restaurant.rating %>
<%#= @restaurant.description %>
<div class="container">
  <div class="title">
    <%= @restaurant.name %>
  </div>
  <div class="show-details">
    <h3>Address: <%= @restaurant.address %></h3>
    <h3>Rating: <%= @restaurant.rating %></h3>
    <h3>Notes: <%= @restaurant.description %></h3>
  </div>
</div>
