.home_page_cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 180px 70px;
}

.home_page_card {
  box-shadow: 0 1.5px 10px 0 rgba(0,0,0,.08);
  border-radius: 20px;
  padding: 100px;
  text-align: center;
}

.banner{
  background-size: cover;
  background-position: center;
}
